@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">My Podcast Site</h1>
</div>
<br />
<p>Here's a link to my podcast site:</p>
<a href ="https://baconsale.com/">Baconsale</a>
